/* 
цвет  текста (заголовки) #212121
цвет текста (абзацы) #757575
белый #FFFFFF
белый вотричный rgba(255, 255, 255, 0.6)
лого #000000
акцент #2196F3
вторичный цвет фона #F5F4FA
фон футера #2F303A

*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* buttons */
.button.primary {
  color: #ffffff;
  background-color: var(--accent-color);
  text-align: center;
}
.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  text-align: center;
}

.button.secondary:hover,
.button.secondary:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* logo */
.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo span {
  color: var(--accent-color);
}

/* site-nav */

.header-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link.current {
  color: var(--accent-color);
}

.header-contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-contact-link:hover,
.header-link:focus,
.header-contact-link:focus,
.footer-location:hover,
.footer-location:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background-color: var(--footer-background-color);
}

.hero .button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* benefits */
.benefits .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* team */

.team.section {
  background-color: var(--secondary-background-color);
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-function {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
footer {
  background-color: var(--footer-background-color);
}
footer .logo {
  color: #ffffff;
}

.footer-location {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* portfolio */

.radiobutton {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .project-kind {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
